        <!--Footer-->
        <footer class="footer">
            <div class="container-fluid">
                <p><font color="gray">
                    <!--Designed and built by  
                    <a href="http://i.orzace.com">Ace</a></br>-->
                    Powerd by 
                    <a href="http://twitter.github.com/bootstrap/index.html">Bootstrap</a>
                    , and 
                    <a href="http://webpy.org">web.py</a></br>
                    in memory of
                    <a href="http://www.aaronsw.com/">Aaron H. Swartz</a></br></br></font>
                </p>
            </div>
        </footer>
        <!--Footer结束-->